/* Selector universal*/
*{
    margin: 10;
}

/*Selector de tipo*/
h1{
    color: green;
}

/*Selector de clase*/
.header{
    text-align: center;
}

/*Selector de ID*/
#animals{
    text-align: center;
}

/*Pesudo-Clases*/
p:first-child{
    color: indigo;
}

p:last-child{
    color: lawngreen;
}

p:nth-child(2n){
    color: mediumblue;
}

/*Pseudo-elementos*/
p::after {
    content: "  :)";
}

.ballena::before{
    content: "Ex= ";
    color: rgb(119, 113, 113);
}

p::first-letter{
    color: orangered;
    font-size: 20px;
    font-style: italic;

}

.caja1{
    width: 20px;
    height: 20px;
    background-color: #2b2d42;
    padding: 20px;
    border: 2px solid #d90429;
    margin: 10px 20px 30px 40px;
}

.caja2{
    width: 30px;
    height: 30px;
    background-color: #8d99ae;
    padding: 30px;
    border: 2px solid #ef233c;
    margin: 10px;
}