body{
    margin: 0;
    background: #226191;
    font-family: Urbanist, sans-serif;
}

.header{
    width: 100%;
    height: 90px;
    background: #226191;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 120px;
    text-align: right;
    margin: 0 0 0 -14px;
}

/*Desplegable del menu*/
.header__menu:hover ul, ul:hover {
    display: block;
}

/*Si se usan solo dos el 1ro Top-Boot 2do L-R*/
.header__menu li {
    margin: 10px 20px 0px 0px ;
}

.header__menu li a{
    text-decoration: none;
    color:white;
}

.header__menu li a:hover{
    text-decoration: underline;
    color: #6c8ead;
}

.header__menu--profile{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header__menu--profile p{
    margin: 0;
    color: white;
}

.main{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__titulo{
    font-size: 25px;
    color: white;
}

.input{
    border: 2px white solid;
    border-radius: 30px;
    padding: 0px 20px;
    height: 40px;
    font-size: 16px;
    width: 70%;
    background: #1e7597;
    /*Evita que se marque cuando se usa el input*/
    outline: none;
}

::placeholder{
    color: white;
}

.Carrusel__Tittle{
    color: white;
    font-size: 26px;
    padding: 10px;
}

.carousel{
    width: 100%;
    /*crear un scroll en el carusel*/
    overflow: scroll;
    /*todos los elementos se van a posicionar apartir de este elemento*/
    position: relative;
    /*Ocultar el carrusel vertical*/
    overflow-x: scroll;
    overflow-y:hidden;
}
 /*-webkit-scrollbar --> el elemento que envuelve al conjunto
   -webkit-scrollbar-thumb --> la almohadilla de la barra*/
.carousel::-webkit-scrollbar {
    /*Elimina la configuracion basica*/
    -webkit-appearance: none;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #6c8ead;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.carousel__container{
    /*funcion dedicada a que los elementos sigan en una misma linea no se montan para abajo como en block*/
    white-space: nowrap;
    margin: 50px 0px;
    /*evitar que se corte la imagen cuando se agrande*/
    padding-bottom: 15px;
    width: auto;
}

.carousel-item{
    background: aqua;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    /*evita distorcion al momento de agrandar*/
    overflow: hidden;
    margin-left: 10px;
    /*Cambiamos a flex viene por defecto block*/
    display: inline-block;
    /*Cambia el cursor cuando esta sobre el item*/
    cursor: pointer;
    /*Velocidad de transision a una velocidad especifica*/
    transition: 450ms all;
    /*El primer item no excede su contenedor*/
    transform-origin: center left;
    position: relative;
}

    /*
    1- .carousel-item:hover --> selecciona el item del carrusel cuando esta con el mouse encima.
    2- "~" selecciona todos los elementos menos elemento siguiente.
    */
.carousel-item:hover ~ .carousel-item{
    /* Mueve a la x positiva 100px [x,y,z], si se usa "traslate" no aplica el aje Z*/
    transform: translate3d( 100px, 0px, 0px);
}

/*selecciona al container cuando esta en hover y aplica sobre los .carousel-item*/
.carousel__container:hover .carousel-item{
    /*pacidad del 30%*/
    opacity: 30%;
}

.carousel__container:hover .carousel-item:hover{
    /*Cuando pasamos el mouse encima del item aumenta su escala en 50%*/
    transform: scale(1.35);
    /*Opacidad normal*/
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    /*evitar distorcio de imagen*/
    object-fit: cover;
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: #72b01d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.carousel-item__details:hover{
    opacity: 1;
}

.carousel-item__details-img{
    width: 30px;
    height: 30px;
}

.carousel-item__details--title{
    margin: 0;
}

.carousel-item__details--subtitle{
    margin: 0 10px 0 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
}

.footer > a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.footer > a:hover{
    color: rgb(245, 168, 219);
    text-decoration: underline;
}